<nav
  [class.max-h-[81px]]="!isMenuOpen()"
  [class.max-h-96]="isMenuOpen()"
  class="z-50 fixed top-0 transition-discrete duration-300 ease-in-out overflow-hidden left-0 right-0 w-full border-b border-gray-200 shadow-xs bg-white/80 backdrop-blur-sm"
>
  <div class="flex flex-col lg:flex-row justify-between items-center max-w-7xl mx-auto px-6 w-full">
    <div class="flex justify-between items-center w-full lg:w-auto">
      <div class="shrink-0 w-70 h-20 overflow-hidden">
        <a href="/" class="block mr-4">
          <img
            alt="MarcaFirme USA"
            class="h-20 w-auto drop-shadow-md drop-shadow-primary/30 object-cover"
            ngSrc="/assets/logo-marcafirme.svg"
            width="140"
            height="80"
            priority
          />
        </a>
      </div>
      <div class="lg:hidden">
        <button
          type="button"
          (click)="toggleMenu()"
          class="text-text-color p-2 border border-transparent hover:border-gray-300 transition-colors duration-300 ease-in-out hover:shadow-sm rounded-lg cursor-pointer"
        >
          @if (!isMenuOpen()) {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class=""
            >
              <line x1="4" x2="20" y1="12" y2="12"></line>
              <line x1="4" x2="20" y1="6" y2="6"></line>
              <line x1="4" x2="20" y1="18" y2="18"></line>
            </svg>
          } @else {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M18 6 6 18"></path>
              <path d="m6 6 12 12"></path>
            </svg>
          }
        </button>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row justify-between items-center w-full">
      <div class="w-full">
        <ul
          class="w-full flex flex-col lg:flex-row justify-center items-start lg:items-center gap-4 lg:gap-10 text-sm lg:text-base font-medium text-text-color"
        >
          <li class="w-full lg:w-auto">
            <a
              class="relative block cursor-pointer group py-2 hover:text-primary transition-colors duration-300 ease-in-out"
              href="#services"
              >Servicios
              <span
                class="absolute bottom-0 left-0 lg:left-1/2 lg:-translate-x-1/2 w-0 h-0.5 bg-linear-to-r from-teal to-cyan transition-all duration-300 group-hover:w-full lg:group-hover:w-3/4 rounded-full"
              ></span>
            </a>
          </li>
          <li class="w-full lg:w-auto">
            <a
              class="relative block cursor-pointer group py-2 hover:text-primary transition-colors duration-300 ease-in-out"
              href="#process"
              >Proceso
              <span
                class="absolute bottom-0 left-0 lg:left-1/2 lg:-translate-x-1/2 w-0 h-0.5 bg-linear-to-r from-teal to-cyan transition-all duration-300 group-hover:w-full lg:group-hover:w-3/4 rounded-full"
              ></span>
            </a>
          </li>
          <li class="w-full lg:w-auto">
            <a
              class="relative block cursor-pointer group py-2 hover:text-primary transition-colors duration-300 ease-in-out"
              href="#questions"
              >Preguntas
              <span
                class="absolute bottom-0 left-0 lg:left-1/2 lg:-translate-x-1/2 w-0 h-0.5 bg-linear-to-r from-teal to-cyan transition-all duration-300 group-hover:w-full lg:group-hover:w-3/4 rounded-full"
              ></span>
            </a>
          </li>
          <li class="w-full lg:w-auto">
            <a
              class="relative block cursor-pointer group py-2 hover:text-primary transition-colors duration-300 ease-in-out"
              href="#services"
              >Contacto
              <span
                class="absolute bottom-0 left-0 lg:left-1/2 lg:-translate-x-1/2 w-0 h-0.5 bg-linear-to-r from-teal to-cyan transition-all duration-300 group-hover:w-full lg:group-hover:w-3/4 rounded-full"
              ></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="w-full lg:w-auto py-4 lg:py-0">
        <a
          href="#contacto"
          data-slot="button"
          class="w-full inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg:not([class*='size-'])]:size-4 shrink-0 [&amp;_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive hover:bg-primary/90 py-2 has-[&gt;svg]:px-3 relative overflow-hidden bg-linear-to-r from-teal to-cyan text-white font-semibold px-8 h-12 rounded-full shadow-lg shadow-teal/20 hover:shadow-teal/40 transition-all duration-300 hover:scale-105 group"
          ><span class="relative z-10">Agendar asesoria</span
          ><span
            class="absolute inset-0 bg-linear-to-r from-cyan to-primary opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          ></span
        ></a>
      </div>
    </div>
  </div>
</nav>
