<nav
  [class.max-h-[81px]]="!isMenuOpen()"
  [class.max-h-96]="isMenuOpen()"
  class="fixed top-0 transition-discrete duration-300 ease-in-out overflow-hidden left-0 right-0 w-full border-b border-gray-200 shadow-xs bg-white/80 backdrop-blur-sm"
>
  <div class="flex flex-col lg:flex-row justify-between items-center max-w-7xl mx-auto px-6 w-full">
    <div class="flex justify-between items-center w-full lg:w-auto">
      <div class="shrink-0 w-70 h-20 overflow-hidden">
        <a href="/" class="block mr-4">
          <img
            alt="MarcaFirme USA"
            class="h-20 w-auto drop-shadow-md drop-shadow-primary/30 object-cover"
            ngSrc="/assets/logo-marcafirme.svg"
            width="140"
            height="80"
            priority
          />
        </a>
      </div>
      <div class="lg:hidden">
        <button
          type="button"
          (click)="toggleMenu()"
          class="text-text-color p-2 border border-transparent hover:border-gray-300 transition-colors duration-300 ease-in-out hover:shadow-sm rounded-lg cursor-pointer"
        >
          @if (!isMenuOpen()) {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class=""
            >
              <line x1="4" x2="20" y1="12" y2="12"></line>
              <line x1="4" x2="20" y1="6" y2="6"></line>
              <line x1="4" x2="20" y1="18" y2="18"></line>
            </svg>
          } @else {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M18 6 6 18"></path>
              <path d="m6 6 12 12"></path>
            </svg>
          }
        </button>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row justify-between items-center w-full">
      <div class="w-full">
        <ul
          class="w-full flex flex-col lg:flex-row justify-center items-start lg:items-center gap-4 lg:gap-10 text-sm lg:text-base font-medium text-text-color"
        >
          <li class="w-full lg:w-auto">
            <a
              class="relative block cursor-pointer group py-2 hover:text-primary transition-colors duration-300 ease-in-out"
              href="#services"
              >Servicios
              <span
                class="absolute bottom-0 left-0 lg:left-1/2 lg:-translate-x-1/2 w-0 h-0.5 bg-linear-to-r from-teal to-cyan transition-all duration-300 group-hover:w-full lg:group-hover:w-3/4 rounded-full"
              ></span>
            </a>
          </li>
          <li class="w-full lg:w-auto">
            <a
              class="relative block cursor-pointer group py-2 hover:text-primary transition-colors duration-300 ease-in-out"
              href="#services"
              >Proceso
              <span
                class="absolute bottom-0 left-0 lg:left-1/2 lg:-translate-x-1/2 w-0 h-0.5 bg-linear-to-r from-teal to-cyan transition-all duration-300 group-hover:w-full lg:group-hover:w-3/4 rounded-full"
              ></span>
            </a>
          </li>
          <li class="w-full lg:w-auto">
            <a
              class="relative block cursor-pointer group py-2 hover:text-primary transition-colors duration-300 ease-in-out"
              href="#services"
              >Preguntas
              <span
                class="absolute bottom-0 left-0 lg:left-1/2 lg:-translate-x-1/2 w-0 h-0.5 bg-linear-to-r from-teal to-cyan transition-all duration-300 group-hover:w-full lg:group-hover:w-3/4 rounded-full"
              ></span>
            </a>
          </li>
          <li class="w-full lg:w-auto">
            <a
              class="relative block cursor-pointer group py-2 hover:text-primary transition-colors duration-300 ease-in-out"
              href="#services"
              >Contacto
              <span
                class="absolute bottom-0 left-0 lg:left-1/2 lg:-translate-x-1/2 w-0 h-0.5 bg-linear-to-r from-teal to-cyan transition-all duration-300 group-hover:w-full lg:group-hover:w-3/4 rounded-full"
              ></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="w-full lg:w-auto py-4 lg:py-0">
        <a
          href="#contact"
          type="button"
          class="w-full text-center lg:w-auto py-2 px-4 text-white font-semibold rounded-md shadow-sm text-sm lg:text-base whitespace-nowrap bg-linear-to-r from-teal to-primary hover:from-primary/90 hover:to-primary/90 transition-all duration-300 ease-in-out inline-block hover:scale-105"
        >
          Agendar asesoría
        </a>
      </div>
    </div>
  </div>
</nav>
